# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/README.md

# Backend
backend/node_modules/
backend/.env
backend/readme.md

# Docs (contain API tokens / sensitive notes)
APIs.md
states.md